body {
    font-family: sans-serif;
    background: #1a1a1a;
  }
  
  form {
    margin: 5rem auto 0;
    width: 24rem;

    .count {
      padding: 0.25rem 0;
      text-align: center;
      color: #fff;
      background: #333;
      margin-top: 200;
    

    }

  
    div,
    select {
      margin-bottom: 1.5rem;
      width: inherit;
    }
  
    input,
    select {
      padding: 0 0.5rem;
      width: inherit;
      height: 2rem;
      border-radius: 4px;
      border: none;
      box-sizing: border-box;
    }
  
    input[type="submit"] {
      height: 2.5rem;
      font-size: 1rem;
      color: #fff;
      background: #0971f1;
      cursor: pointer;
    }
  
    p {
      margin-top: 0.5rem;
      color: #ff9900;
    }
  }
  
  .some-page-wrapper {
    display: flex;
    margin: 40px;
  
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
  }
  
  .admin-column {
   
    margin-left: 4mm;
   border-color: #1a1a1a;
   background-color: black;
    height: auto;
  }
   .shopping-column {
    margin-left: 4mm;
    margin-top: 10mm;
   border-color: #1a1a1a;
   background-color: black;
    height: auto;
  }
 
  .green-column {
    margin-left: 4mm;
   border-color: #1a1a1a;
  
    height: auto;
  }
  .card {
    height: 438px;
    width: 300px;
   border: #1a1a1a;
 
  }
  .grid_list {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }